[submodule "wiki/personal-private"]
	path = wiki/personal-private
	url = git@github.com:citytexi/team-yg-pesonal-agent-privacy-data.git
[submodule "TEAMYG-Android"]
	path = TEAMYG-Android
	url = https://github.com/mash-up-kr/TEAMYG-Android.git
